:root {
	--primary-color: #FF6B00; /* Помаранчевий */
	--accent-color: #28A745; /* Зелений */
	--text-color: #333333;
	--light-bg: #f4f4f4;
	--white: #ffffff;
}

body {
	font-family: 'Montserrat', sans-serif; /* Шрифт  */
	margin: 0;
	padding: 0;
	color: var(--text-color);
	line-height: 1.6;
	background-color: var(--light-bg);
}

h1, h2, h3 {
	margin-bottom: 15px;
}

img {
	max-width: 100%;
	height: auto;
}

/* Валідація форм  */
input:invalid {
	border-color: red;
}
