/* Шапка */
header {
    background-color: var(--primary-color);
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo {
    color: var(--white);
    font-size: 24px;
    font-weight: bold;
}

/* Навігація */
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

nav a {
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    transition: 0.3s;
}

    nav a:hover, nav a.active {
        text-decoration: underline;
    }

/* Бургер-меню (приховане на пк) */
.burger {
    display: none;
    cursor: pointer;
    font-size: 28px;
    color: white;
}

/* Основний контент */
main {
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
    min-height: 80vh; /* Щоб футер був знизу */
}

/* Каталог піци (Flexbox/Grid) */
.catalog {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

/* Футер */
footer {
    background-color: #222;
    color: var(--white);
    text-align: center;
    padding: 20px;
    margin-top: auto;
}

/*Мобільні пристрої*/
@media (max-width: 768px) {
    .burger {
        display: block; /* Показуємо бургер */
    }

    nav ul {
        display: none; /* Ховаємо звичайне меню */
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: var(--primary-color);
        width: 100%;
        text-align: center;
        padding: 20px 0;
    }

        /* Клас, який додасть JS при кліку */
        nav ul.show {
            display: flex;
        }

    nav li {
        margin: 15px 0;
    }
}
